{% load i18n %}
<div class="right" >
  <h4>{% trans "Explanation:" %}</h4>
  <p>{% trans "Choose the virtual machine time." %}</p>
  <p>{% trans "multi screen configuration is 1." %}</p>
  <p>{% trans "by default, the USB control default to yes." %}</p>
  <p>{% trans "The Cloud Desktop allows access to the Clipboard option by default." %}</p>
  <p>{% trans "the disk type default to virtro, choose ide for xp." %}</p>
  <p>{% trans "When you select the shutdown restore is yes, the desktop will restore system to the initial state after you shutdown, the system does not save any user action. In addition, create and restore incremental snapshots of the desktop with shutdown restore is no sense." %}</p>
</div>
